* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Begin - Đếm ngày  */
.wrapper-day-counting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1550918086-46846bda2bd6?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: none;
  background-size: cover;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.day-counting {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 10px double black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.day-counting p {
  line-height: 15px;
  font-size: 20px;
}

.day-counting #day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
/* End - Đếm ngày  */
/* Begin - Date Counting */
#wrapper-time {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  border: 2px solid pink;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  padding: 10px 0;
}

.date-counting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  width: 80px;
  height: 80px;
  background-color: pink;
  border-radius: 5px;
}
.date-counting p {
  display: block;
  line-height: 12px;
  color: white;
}

.date-counting p span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
#wrapper-now-time {
  border: 0 6px #808080;
}
#now-time {
  position: absolute;
  bottom: -12px;
  right: 15px;
  padding: 0 10px;
  background-color: rgb(245, 220, 224);
  color: rgb(225, 138, 170);
  font-weight: 600;
  border-radius: 5px;
}
#start-date {
  position: absolute;
  bottom: -18px;
  left: 15px;
  padding: 6px;
  color: white;
  background-color: #8ad0f1;
}
/* End -Date Counting */

.wrapper-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 800px;
  height: 500px;
  background-color: #8ad0f1;
  border: 5px solid black;
  border-radius: 5px;
  animation: modalTranslate ease 0.3s;
}
.wrapper-modal .modal-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.modal.open {
  display: flex;
}

.input-form {
  position: absolute;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.input-form p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.input-form input[type="date"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 3px solid pink;
  border-radius: 5px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #fff;
}

.input-form input[type="button"] {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border: 3px solid pink;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.input-form input[type="button"]:hover {
  background: #2980b9;
}

#output {
  margin-top: 10px;
  font-size: 14px;
  color: #2c3e50;
  font-weight: bold;
}
#sandCanvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
